<div class="signup">
  <div class="signup_wrapper">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)"
      class="signup_form"
    >
      <div class="signup_field">
        <label for="name" class="signup_label">First Name</label>
        <input
          class="signup_input"
          type="text"
          formControlName="name"
          id="name"
          required
        />
      </div>
      <div *ngIf="name?.invalid && name?.touched" class="alert alert-danger">
        <div class="login_error" *ngIf="name?.errors?.['required']">
          The name is required
        </div>
        <div
          class="login_error"
          *ngIf="!form.get('name')?.errors?.['nameRegExp']"
        >
          Allowed only letters or spaces, maximum 40 characters
        </div>
      </div>
      <div class="signup_field">
        <label for="email" class="signup_label">Email</label>
        <input
          class="signup_input"
          type="text"
          formControlName="email"
          id="email"
          required
        />
      </div>
      <div *ngIf="email?.invalid && email?.touched" class="alert alert-danger">
        <div class="login_error" *ngIf="email?.errors?.['required']">
          The login email is required
        </div>
        <div class="login_error" *ngIf="form.get('email')?.errors?.['email']">
          The login email is invalid
        </div>
      </div>
      <div class="signup_field">
        <label for="password" class="signup_label">Password</label>
        <input
          class="signup_input"
          type="text"
          formControlName="password"
          id="password"
          required
        />
      </div>
      <div
        *ngIf="password?.invalid && password?.touched"
        class="alert alert-danger"
      >
        <div class="login_error" *ngIf="password?.errors?.['required']">
          The password is required
        </div>
        Your password isn't strong enough
        <div
          class="login_error"
          *ngIf="!form.get('password')?.value?.match('^(?=.*[A-Z])')"
        >
          > should contain at least one uppercase letter
        </div>
        <div
          class="login_error"
          *ngIf="!form.get('password')?.value?.match('(?=.*[a-z])')"
        >
          > should contain at least one lowercase letter
        </div>
        <div
          class="login_error"
          *ngIf="!form.get('password')?.value?.match('(.*[0-9].*)')"
        >
          > should contain at least one digit
        </div>
        <div
          class="login_error"
          *ngIf="!form.get('password')?.value?.match('(?=.*[!@#$%^&*])')"
        >
          > should contain at least one special character i.e. ! &#64; # & %
        </div>
        <div
          class="login_error"
          *ngIf="!form.get('password')?.value?.match('.{8,}')"
        >
          > should be at least eight characters long
        </div>
      </div>
      <button class="signup_submit" type="submit" [disabled]="!form.valid">
        Register
      </button>
    </form>
    <div class="signup_redirects">
      <a routerLink="/signup" class="signup_link up"
        ><span class="signup_icon up"></span>Signup</a
      >
      <a routerLink="/signin" class="signup_link in"
        ><span class="signup_icon in"></span>Signin</a
      >
    </div>
  </div>
</div>
<!-- <router-outlet name="snowflake"></router-outlet> -->
