.signup {
  width: 100%;
  height: 100vh;
  background-image: url("../../../../assets/pics/night_lantern.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  &_wrapper {
    min-width: 300px;
    width: 50vw;
    max-width: 800px;
    margin: 0 auto;
    height: 50%;
  }

  &_redirects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
  }

  &_field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &_label {
    width: 100px;
    display: inline-block;
    font-weight: 700;
    text-shadow: 0 0 10px whitesmoke;
    font-size: 1.1rem;
  }

  &_input {
    min-width: 100px;
    width: 60%;
    height: 25px;
    outline: none;
    border: none;
    font-weight: 700;
    padding-left: 5px;
    background-color: rgb(245, 245, 245, 40%);
    border-radius: 5px;

    &:focus {
      outline: none;
    }
  }

  &_link {
    width: 40%;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    &.up {
      color: aquamarine;
      background-image: none;
      text-shadow: 0 0 10px purple;
    }

    &.in {
      color: salmon;
      background-image: none;
      text-shadow: 0 0 10px purple;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &_icon {
    width: 50%;
    aspect-ratio: 1 / 1;

    &.up {
      background-image: url("../../../../assets/icons/cabin-christmas.svg");
      background-repeat: no-repeat;
      display: inline-block;
      background-size: contain;
    }

    &.in {
      background-image: url("../../../../assets/icons/cabin.svg");
      background-repeat: no-repeat;
      display: inline-block;
      background-size: contain;
    }
  }

  &_submit {
    width: 180px;
    height: 50px;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: black;
    align-self: flex-end;
    font-family: "Delius Unicase", cursive;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      cursor: auto;
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(245, 245, 245, 20%);
    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 100%;
      background: rgb(245, 245, 245, 30%);
      transform: skewX(45deg) translateX(-300%);
      transition: all 0.6s ease-in-out;
    }

    &:hover::before {
      transform: skewX(45deg) translateX(120vw);
    }
  }
}
