<div class="profile">
  <div class="profile_wrapper">
    <button (click)="logout()" class="profile_logout">Logout</button>
    <form class="profile_info">
      <div class="profile_item">
        <div class="profile_title">user id</div>
        <div cllass="profile_data">{{ id }}</div>
      </div>
      <div class="profile_item">
        <div class="profile_title">user name</div>
        <div cllass="profile_data">{{ name }}</div>
      </div>
      <div class="profile_item">
        <div class="profile_title">email address</div>
        <div cllass="profile_data">{{ email }}</div>
      </div>
      <div class="profile_item">
        <div class="profile_title">profile creation time</div>
        <div cllass="profile_data">{{ createdAt }}</div>
      </div>
    </form>
  </div>
</div>
