.main {
  width: 100%;
  background-image: url("../../../assets/pics/frost-and-ice-on-a-screen1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-size: 1.2rem;

  &_wrapper {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &_info {
    display: flex;
    flex-direction: column;
  }

  &_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-weight: 700;
  }

  &_groups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &_group {
    background: linear-gradient(0.25turn, salmon, plum);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
  }

  &_group_item {
    text-decoration: none;
    color: black;
    font-family: "Delius";

    &.name {
      cursor: pointer;
    }
  }

  &_user {
    background: linear-gradient(0.25turn, salmon, plum);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
  }

  &_user_item {
    text-decoration: none;
    color: black;
    font-family: "Delius";

    &.name {
      cursor: pointer;
    }
  }

  &_left_title {
    color: white;
    font-family: "Delius Unicase", cursive;
  }

  &_left {
    width: 44vw;
    height: 80vh;
    background-color: rgb(245, 245, 245, 30%);
    border-radius: 10px;
    padding: 1vw;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &_right {
    width: 44vw;
    height: 80vh;
    background-color: rgb(245, 245, 245, 30%);
    border-radius: 10px;
    padding: 1vw;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 30%;
    height: 40px;
    border: none;
  }

  &_profile {
    width: 20vw;
    max-width: 150px;
    min-width: 100px;
    height: 40px;
    align-self: flex-end;
    border: none;
    border-radius: 10px;
    background: linear-gradient(0.25turn, salmon, plum);
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }
}

.highlight {
  display: inline;
  font-weight: 700;
  color: purple;
}

.spinner_wrapper {
	height: 100vh;
  width: 100%;
	background-color: rgb(231, 237, 254);
	font: 1em/1.5 sans-serif;
	display: grid;
	place-items: center;
}

.spinner,
.spinner__ball,
.spinner__ball-inner-shadow,
.spinner__ball-side-shadows,
.spinner__ball-texture,
.spinner__inner-ring,
.spinner__outer-ring,
.spinner__track-cover {
  border-radius: 50%;
}
.spinner {
  position: relative;
  width: 16em;
  height: 16em;
}
.spinner__ball,
.spinner__ball-inner-shadow,
.spinner__ball-outer-shadow,
.spinner__ball-side-shadows,
.spinner__ball-texture,
.spinner__ball-texture:before,
.spinner__inner-ring,
.spinner__outer-ring,
.spinner__track-cover {
  position: absolute;
}
.spinner__ball,
.spinner__ball-inner-shadow,
.spinner__ball-outer-shadow,
.spinner__ball-texture:before,
.spinner__track-cover {
  animation: ball 3s linear infinite;
}
.spinner__ball {
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
  transform: rotate(0) translateY(-6.5em);
  width: 2.5em;
  height: 2.5em;
}
.spinner__ball-inner-shadow {
  animation-name: ballInnerShadow;
  box-shadow: 0 0.1em 0.2em hsla(0, 0%, 0%, 0.3),
    0 0 0.2em hsla(0, 0%, 0%, 0.1) inset,
    0 -1em 0.5em hsla(0, 0%, 0%, 0.15) inset;
  width: 100%;
  height: 100%;
}
.spinner__ball-outer-shadow {
  animation-name: ballOuterShadow;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.15), hsla(0, 0%, 0%, 0));
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  filter: blur(2px);
  top: 50%;
  left: 0;
  width: 100%;
  height: 250%;
  transform: rotate(20deg);
  transform-origin: 50% 0;
  z-index: -2;
}
.spinner__ball-side-shadows {
  background-color: hsla(0, 0%, 0%, 0.1);
  filter: blur(2px);
  width: 100%;
  height: 100%;
  transform: scale(0.75, 1.1);
  z-index: -1;
}
.spinner__ball-texture {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.spinner__ball-texture:before {
  animation-name: ballTexture;
  animation-duration: 0.25s;
  background: url(https://assets.codepen.io/416221/snow.jpg) 0 0 / 50% 100%;
  content: "";
  display: block;
  filter: brightness(1.05);
  top: 0;
  right: 0;
  width: 200%;
  height: 100%;
}
.spinner__inner-ring {
  box-shadow: 0 -0.25em 0.5em hsla(0, 0%, 100%, 0.4),
    0 0.5em 0.75em hsla(0, 0%, 100%, 0.4) inset,
    0 0.5em 0.375em hsla(0, 0%, 0%, 0.15),
    0 -0.5em 0.75em hsla(0, 0%, 0%, 0.15) inset;
  top: 2.375em;
  left: 2.375em;
  width: calc(100% - 4.75em);
  height: calc(100% - 4.75em);
}
.spinner__outer-ring {
  box-shadow: 0 -0.45em 0.375em hsla(0, 0%, 0%, 0.15),
    0 0.5em 0.75em hsla(0, 0%, 0%, 0.15) inset,
    0 0.25em 0.5em hsla(0, 0%, 100%, 0.4),
    0 -0.5em 0.75em hsla(0, 0%, 100%, 0.4) inset;
  top: 0.75em;
  left: 0.75em;
  width: calc(100% - 1.5em);
  height: calc(100% - 1.5em);
}
.spinner__track-cover {
  animation-name: trackCover;
  background-image: conic-gradient(
    hsla(223, 90%, 95%, 1) 210deg,
    hsla(223, 90%, 95%, 0) 270deg
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Animations */
@keyframes ball {
  from {
    transform: rotate(0) translateY(-6.5em);
  }
  50% {
    transform: rotate(180deg) translateY(-6em);
  }
  to {
    transform: rotate(360deg) translateY(-6.5em);
  }
}
@keyframes ballInnerShadow {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes ballOuterShadow {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-340deg);
  }
}
@keyframes ballTexture {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}
@keyframes trackCover {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
